.signin-container {
  position: relative;
  max-width: 400px;
  margin-top: 10rem;
  margin: 5rem auto;
  padding: 20px;
  text-align: center;
  background: rgb(36, 35, 35);
  border: 1px solid rgb(109, 109, 109);
  border-radius: 15px;
}

.signin-container h2 {
  color: #ffffff;
}

.signin-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
}


.input-container {
  margin-bottom: 15px;
  text-align: left;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #000000;
  color: gray;
}

.signup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: left;
}

.signup p {
  margin: 5px 0;
  cursor: pointer;
  color: #ffffff;
}

.signup a {
  text-decoration: none;
  color: #ffffff;
}

.signup a:hover,
.signup p:hover {
  color: var(--primary);
}

span {
  color: var(--primary);
}