.mainBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
  background: var(--primary);
  color: #ffffff;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer !important;
  border: none;
}

@media (max-width: 1024px) {
  .mainBtn {
    width: 125px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 5px 8px;
    margin-right: 10px;
    gap: 4px;
  }
  
}

@media (max-width: 768px) {
  .mainBtn {
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 5px 5px;
    margin-right: 8px;
    gap: 4px;
  }
}

.mainBtn:hover {
  color: var(--primary) !important;
  background: #ffffff !important;
  cursor: pointer !important;
}

