.movieModal {
  position: absolute;
  content: '';
  top: 5em;
  left: 8em;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  height: 80%;
  width: 80%;
}

.movieModal iframe {
  height: 80%;
  width: 90%;
}

.movieModal .modalClose {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.8rem;
}

.movieModal.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .movieModal {
    left: 0.3em;
    height: 90%;
    width: 98%;
  }
  
  .movieModal iframe {
    height: 40%;
    width: 90%;
  }
  
}